/* Global Styles */
:root {
  /* --primary-color: #17a2b8;
  --dark-color: #343a40;*/
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.story-board-header {
  background: rgb(255, 102, 0);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.user-thumbnail {
  padding: 10px;
  width: 125px;
  display: grid;
  grid-auto-flow: column;
}

.account-icon {
  vertical-align: top;
  margin: 0 5px;
}

.sm {
  /* float: left; */
  display: inline-block;
  width: 20%;
}

.sm-2 {
  width: 74%;
  margin-left: 2em;
  display: inline-block;
}

.domain-name,
span i,
.date {
  color: #828282;
}

.story-row {
  padding: 0.5em 1em;
}

.hide-container {
  display: inline-block;
  margin-left: 10px;
}

.more-stories {
  margin: 20px 5%;
  color: orange;
  cursor: pointer;
  text-align: right;
}

.upvote-button {
  color: #ccccccab;
}

/* .story-title,
.author-name {
  font-weight: 800;
} */

.story-row:nth-child(even) {
  background: #ccccccab;
}
.story-row > span,
.story-row > div > span {
  padding: 5px;
}

/* .upvote-button {
  margin-left: 0.8em;
} */

.like-comment-container {
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "storyTitle authorName" "domainName date" "comments likes" "upvote hideContainer";
  grid-template-columns: 68% 29%;
  grid-template-rows: 20% 25% 20% 10%;
  padding: 5px;
  grid-column-gap: 25px;
  justify-items: flex-start;
}

.comments {
  font-weight: 700;
  grid-area: comments;
}

.likes-container {
  color: orange;
  grid-area: likes;
}

.upvote {
  grid-area: upvote;
}

.story-title {
  font-weight: 800;
  grid-area: storyTitle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.domain-name {
  color: #828282;
  grid-area: domainName;
}

.author-name {
  font-weight: 800;
  grid-area: authorName;
  text-overflow: ellipsis;
  word-break: break-all;
}

.date {
  color: #828282;
  grid-area: date;
}

.hide-container {
  display: inline-block;
  margin-left: 10px;
  grid-area: hideContainer;
}

.hide-story {
  width: unset;
  margin-top: 15px;
  grid-area: hideStory;
}

.logout-btn {
  padding: 10px;
  min-width: unset;
}

.news-details {
  width: 65%;
  padding: 10px;
  display: inline-block;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

@media (max-width: 600px) {
  .news-details,
  .like-comment-container-header {
    display: none;
  }
}

@media (min-width: 601px) {
  .like-comment-container {
    /* display: inline-table; */
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "comments likes upvote storyTitle authorName domainName date hideContainer";
    grid-template-columns: 5% 3% 4% 26% 10% 16% 11% 6%;
    grid-template-rows: unset;
  }
  .comments svg {
    display: none;
  }

  .likes-container svg {
    display: none;
  }

  .upvote-label {
    display: none;
  }

  .like-comment-container-header {
    display: grid;
    grid-gap: 10px;
    justify-items: end;
    grid-auto-flow: column;
    padding: 10px;
    grid-column-gap: 20px;
    grid-template-areas: "comments likes upvote";
  }

  .story-title {
    word-break: break-word;
    white-space: unset;
  }
}

@media (max-width: 600px) {
  .story-container {
    width: 100%;
  }

  /* .story-row {
    padding: 10px 3%;
    display: flex;
    flex-direction: column-reverse;
  } */

  .sm-2 {
    width: 90%;
    margin-left: unset;
  }

  .story-row .hide-container,
  .sm {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .story-row .hide-container {
    display: inline-block;
    margin: 0 0em;
    padding: 5px;
    vertical-align: baseline;
    width: unset;
  }

  .comments,
  .likes-container,
  .hide-story {
    width: unset;
    margin-top: 15px;
  }
}
